@mixin horizontal-margin($left, $right) {
  margin-left: $left;
  margin-right: $right;
}

// Use the mixin in body and div
body {
  @include horizontal-margin(10px, 10px);
}

div {
  @include horizontal-margin(15px, 15px);
}
